<div class="outer">
    <div class="container">
        <h1>Edit Article</h1>

        <div class="form-wrapper">
            <%= render "form", article: @article %>
        </div>

        <div class="back-btn-container"><%= link_to "<< Back", @article %></div>
    </div>
</div>

