<div style="display: flex; flex-direction: column; align-items: center; padding-top: 16px;">
    <a href="<% root_path %>"><h1>Jofko's Blog</h1></a>

    <div class="articles">
        <% @articles.each do |article| %>
            <div class="article">
                <strong><%= link_to article.title, article %></strong><br/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi commodi quos reiciendis veniam quo corporis, cum laudantium, rerum sapiente ut aperiam illum? Accusamus animi suscipit molestiae obcaecati, dolorum ut ducimus?</p>
            </div>
        <% end %>
    </div>

    <%= link_to "New Article", new_article_path, class: 'new-article-btn' %>
</div>