<div class="outer">
    <div class="container">
        <h1>New Article</h1>

        <div class="form-wrapper">
            <%= render "form", article: @article %>
        </div>

        <div class="back-btn-container"><%= link_to "<< Back", root_url %></div>
    </div>
</div>
