/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
    font-family: sans-serif;
    background-color: rgb(56, 139, 128);
    color: rgb(250, 250, 250);
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

ul {
    list-style: none;
}

form > * {
    margin-bottom: 12px;
}

input[type='text'], textarea {
    appearance: none;
    background-color: rgb(230, 230, 230);
    width: 256px;
    border: none;
    border-radius: 12px;
    padding: 4px 8px;
}

input[type='text']:hover, textarea:hover {
    background-color: rgb(240, 240, 240);
}

textarea {
    max-width: 550px;
}

input[type='submit'] {
    appearance: none;
    background-color: rgb(36,119,108);
    color: white;
    padding: 4px 12px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    margin-top: 8px;
}

input[type='submit']:hover {
    background-color: rgb(26,109,98);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}