/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
    font-family: sans-serif;
    background-color: var(--main-color);
    color: var(--white-lighter);

    --main-color: rgb(56, 139, 128);
    --main-color-light: rgb(86, 159, 148);
    --white-darker: rgb(240, 240, 240);
    --white-lighter: rgb(250, 250, 250);
    --dark-color: rgb(50, 50, 50);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

::selection {
    background: var(--white-darker);
    color: var(--dark-color);

}

a {
    text-decoration: none;
    color: var(--white-lighter);
}

ul {
    list-style: none;
}

form > * {
    margin-bottom: 12px;
}

input[type='text'], textarea {
    appearance: none;
    background-color: rgb(230, 230, 230);
    width: 256px;
    border: none;
    border-radius: 12px;
    padding: 4px 8px;
}

input[type='text']::selection, textarea::selection {
    background: var(--dark-color);
    color: var(--white-darker);
}

input[type='text']:hover, textarea:hover {
    background-color: var(--white-darker);
}

textarea {
    max-width: 550px;
    min-width: 256px;
}

input[type='submit'] {
    appearance: none;
    background-color: rgb(36,119,108);
    color: white;
    padding: 4px 12px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    margin-top: 8px;
}

input[type='submit']:hover {
    background-color: rgb(26,109,98);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: auto;
    background-color: var(--white-darker);
    padding: 12px;
    color: var(--dark-color);
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}